body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SOURCE SANS PRO BLACK";
  src: url(./fonts/SOURCESANSPRO-BLACK.TTF);
}

@font-face {
  font-family: "SOURCE SANS PRO LIGHT";
  src: url(./fonts/SOURCESANSPRO-LIGHT.TTF);
}

@font-face {
  font-family: "SOURCE SANS PRO BOLD";
  src: url(./fonts/SOURCESANSPRO-BOLD.TTF);
}